{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AutoEnvision</title>
    <base href="/" />
    <!-- plugins:css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/home-template.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <h1 class="nav-title">AutoEnvision</h1>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Models</p>
                </div>
              </a>
              <div
                class="dropdown-menu navbar-dropdown"
                aria-labelledby="profileDropdown"
                style="margin-top: 400px"
              >
                <a
                  class="dropdown-item"
                  href="/sales/modelpage/Maruti Suzuki Alto 800"
                >
                  Maruti Suzuki Alto 800
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Alto K10"> Maruti Suzuki Alto K10 </a>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki S-Presso"> Maruti Suzuki S-Presso </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Eeco"> Maruti Suzuki Eeco </a>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Celerio> Maruti Suzuki Celerio" </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Swift"> Maruti Suzuki Swift </a>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Grand Vitara">
                  Maruti Suzuki Grand Vitara
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki XL6"> Maruti Suzuki XL6 </a>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Brezza"> Maruti Suzuki Brezza </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/sales/modelpage/Maruti Suzuki Dzire"> Maruti Suzuki Dzire </a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/sales">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sales/modelinsights/{{data.model}}">
                <span class="menu-title">Model Insights</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="./alto-forecast.html">
                <span class="menu-title">Model Forecast</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/sales/forecast">
                <span class="menu-title"> Forecast</span>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-chart-bar"></i>
                </span>{{data.model}} 2013-2021 Insights
             
            </div>
         
             
            <div class="row">
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">Yearly Region-wise Data</h4>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas id="RegionChart" class="mt-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Color wise Chart</h4>
                    <canvas
                      id="all-data-doughnutChart"
                      style="height: 250px"
                    ></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">Year wise Data</h4>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas
                      id="AllDatalineChart"
                      style="height: 250px"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
            
            
           
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Jinja -->
    <p>
    </p>
    
    {{ data|json_script:"data" }}
    
    <!-- plugins:js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/vendor-bundle.js"></script>
    <script src="../static/js/misc.js"></script>
    <script src="../static/js/offcanvas.js"></script>  
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../static/js/Chart.min.js"></script>
    <script src="../static/js/alto-insight.js"></script> 
    
   
    
  </body>
</html>